p{
  border-style: dashed;
  border-width: 5px;
  border-color: blue
}
img{
  border-style: dashed;
  border-width: 5px;
  border-color: blue
}
html{
  background-color: lightblue
}

pre{
  border-style: dashed;
  border-width: 5px;
  border-color: blue
}
